# Distribution / packaging
__pycache__/
.idea
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
logs/
venv/
tmp/
logs/
*.egg-info/
.installed.cfg
*.egg
install.*
*.exe
*.py[cod]
sftp-config.json
.Python
demo.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache
htmlcov/
.tox/
.coverage
.cache
test.db
nosetests.xml
coverage.xml

*.tar
*.gz
*.zip

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
MANIFEST